@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?klfcii');
  src:  url('../fonts/icomoon.eot?klfcii#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?klfcii') format('truetype'),
    url('../fonts/icomoon.woff?klfcii') format('woff'),
    url('../fonts/icomoon.svg?klfcii#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icomoon";
    src: url("../fonts/iconmoon.svg#icomoon") format("svg");
  }
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-web-development:before {
  content: "\e902";
  color: #fff;
}
.icon-servers:before {
  content: "\e903";
  color: #fff;
}
.icon-shield:before {
  content: "\e900";
  color: #fff;
}
.icon-outsourcing:before {
  content: "\e901";
  color: #fff;
}


